# PostgreSQL Database Configuration
POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
TZ=""
POSTGRES_PORT=""

# RabbitMQ Configuration
RABBITMQ_DEFAULT_USER=""
RABBITMQ_DEFAULT_PASS=""

# Backend Configuration
JWT_SECRET=""
ADMIN_SECRET=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
WEBHOOK_SECRET=""
DB_URL=""
RABBITMQ_URL=""

# Port Configuration
RABBITMQ_PORT=""
RABBITMQ_MANAGEMENT_PORT=""
BACKEND_PORT=""
NGINX_CONTAINER_PORT=""
NGINX_HOST_PORT=""
NUM_WORKERS=""
